.lightWhite {
  text-shadow: #facc15 0px 0px 4px;
}

.emailButton {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  border-color: #60a5fa;

  box-shadow: 0px 0px 20px -10px #60a5fa;
}

.whatsButton {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  border-color: #4ade80;

  box-shadow: 0px 0px 20px -10px #4ade80;
}

.freeButton {
  background: linear-gradient(165deg, #facc15, #ddb512) border-box;
  border-radius: 0.5rem;
  border: 1px solid transparent;

  box-shadow: 0px 0px 20px -10px #facc15;
}

.freeButton:hover {
  background: linear-gradient(165deg, #facc15, #ddb512) border-box;
  border-radius: 0.5rem;
  border: 1px solid transparent;

  box-shadow: 0px 0px 30px -10px #facc15;
}

.backgroundImg {
  background-image: url("/removals.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundBlack {
  background-color: rgb(0, 0, 0, 0.8);
}

.emailButtonFilled {
  background-color: #60a5fa;

  box-shadow: 0px 0px 20px -10px #60a5fa;
}

.whatsButtonFilled {
  background-color: #4ade80;

  box-shadow: 0px 0px 20px -10px #4ade80;
}

.review {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  border-color: #000000;
  min-width: 14rem;
}

@media (min-width: 640px) {
  .review {
    border-radius: 0.5rem;
    border: 1px solid transparent;
    border-color: #000000;
    min-width: 22rem;
  }
}

@media (min-width: 768px) {
  .review {
    border-radius: 0.5rem;
    border: 1px solid transparent;
    border-color: #000000;
    min-width: 28rem;
  }
}

@media (min-width: 1024px) {
  .review {
    border-radius: 0.5rem;
    border: 1px solid transparent;
    border-color: #000000;
    min-width: 34rem;
  }
}
